body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav > li {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px !important;
    color: white !important;
    text-decoration: none !important;
}

.tables a {
    font-size: 20px !important;
    text-decoration: none !important;
    color: white !important;
}

.tables a:hover{
    color: gray !important;
}

#loginBtw{
    margin-left: 210px !important;
    background-color:black !important;
    height: 40px;
    width: 80px;
    border-radius: 40px !important;
}

#registerBtw {
    background-color: black !important;
    height: 40px;
    width: 80px;
    border-radius: 40px !important;
}

.navbar-brand {
    height: 100px;
}

#tablesNav{
        margin-left:150px !important; 
}
#addNew{
    margin-left:30px;
}
